# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration (PostgreSQL)
# Format: postgresql://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<DATABASE_NAME>?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sistem_keuangan?schema=public"

# Authentication / JWT
JWT_SECRET="sistem-keuangan-uika-secret-key-development-2026"

# Default Super Admin Seed Configuration (npm run create-superadmin)
SUPERADMIN_EMAIL="admin@uika-bogor.ac.id"
SUPERADMIN_PASSWORD="Password123!"
SUPERADMIN_NAME="Super Admin Keuangan"
